/* Ogólne ustawienia */
* {
    font-family: Helvetica;
}

body {
    background-color: #EAEAEA;
}

/* Nagłówek */
img {
    width: 100%;
}

/* Menu i stopka */
nav, footer {
    background-color: #625B5B;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Odnośniki w menu */
nav a {
    font-weight: bold;
    background-color: #EAEAEA;
    color: #625B5B;
    padding: 10px;
    margin: 50px;
    border-radius: 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #625B5B;
    color: #EAEAEA;
    border: 1px solid #EAEAEA;
}

/* Lista punktowana */
ul {
    margin-left: 40px;
    list-style-type: circle;
}

/* Tabela */
table {
    border: 1px dashed #625B5B;
    width: 60%;
    margin-left: 40px;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    border: 1px dashed #625B5B;
    padding: 8px;
}

/* Kontrolki formularza */
.kontrolki {
    margin: 5px;
}
